name: unit-test-pipeline
on: 
  push:
    branches:    
      - '**'       
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Run Unit ${{ payload.sender.login }}
        run: go test
     # - uses: nashmaniac/create-issue-action@v1.1
        if: ${{ failure() }} # only run when this job is failed.
      #  name: Create Issue Action
        # with:
        #   title: Linter Failed
        #   token: ${{secrets.GITHUB_TOKEN}}
        #   assignees: ${{github.actor}}
        #   labels: refactoring-needed, help needed
        #   body: Workflow failed for commit ${{github.sha}}
      - uses: JasonEtco/create-an-issue@v2
        env:
         GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          filename: .github/blame-template.md
  
  # test2:
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: nashmaniac/create-issue-action@v1.1
  #     name: Create Issue Action
  #     with:
  #       title: Build Faile
  #       token: ${{secrets.GITHUB_TOKEN}}
  #       assignees: ${{github.actor}}
  #       labels: worflow-failed
  #       body: Workflow failed for commit ${{github.sha}}


  # create-branch:
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v2
  #     - name: Create Branc
  #       run: |
  #        git branch $(date +%s)
  #        git push origin $(date +%s)