name: on-push-to-master-create-branch
on: 
  push:
    branches:    
      - 'main'        # matches every branch
jobs:
  create-branch:
    runs-on: ubuntu-latest
    # env:
    #   FOO : foobar-${{ github.sha }}
    steps:
      - uses: actions/checkout@v2
      - name: Create Branch
        run: |
         git branch $(date +%s)
         git push origin $(date +%s)