name: unit-test-pipeline
on: 
  push:
    branches:    
      - '**'       
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Run Unit Tests
        run: go test
      - uses: nashmaniac/create-issue-action@v1.1
        if: ${{ failure() }} # only run when this job is failed.
        name: Create Issue Action
        with:
          title: Unit Tests Failed
          token: ${{secrets.GITHUB_TOKEN}}
          assignees: ${{github.actor}}
          labels: bug, refactoring-needed
          body: Workflow failed for commit ${{github.sha}}
      - uses: JasonEtco/create-an-issue@v2
        with: 
          filename: .github/blame-template.md